body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgray;
}

app-root {
    width: 85%;
    background-color: cadetblue;
    margin: 3% 2% 3% 2%;
}