<div class="wrapperEsterno">
    <div class="latoSx">

        <h1>FinanceApp</h1>

        <mat-spinner *ngIf="mostraSpinner == true"></mat-spinner>

        <img src="https://www.notizienazionali.it/archivi/immagini/2021/S/stretta.jpg" alt=""
        *ngIf="rispostaServer == false">

        <app-tabella-movimenti 
        *ngIf="rispostaServer == true" 
        (visualizza)="rispostaServer = $event" 
        ></app-tabella-movimenti>

    </div>
    <div class="latoDx" *ngIf="rispostaServer == false">
        
        <app-form-dati 
        (chiamataInCorso)="mostraSpinner = $event" 
        (rispostaServer)="rispostaServer = $event"
        ></app-form-dati> 
        
    </div>
</div>
